*{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

header {
    background-color: #23174da1;
    height: 80px;
    width: calc(66.66% - 40px);
    position: absolute;
    margin: 20px;

    

}
 
header h1 {
    color: #ffffff;
    position: absolute;
    left: 40px;
    line-height: 80px;
    font-family:Microsoft JhengHei;
    font-weight:lighter;
    letter-spacing: 10px;
}

.BK {
    background-color: #251a31;
    height: 100vh;
    background-image: url("../IMG/enjoy_img/背景.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.KV {
    height: 100vh;
    background-image: url("../IMG/enjoy_img/角色.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    /*滿版*/
    background-position: center bottom;
    /*對齊中間 底下*/
}

.block01 {
    background-color: #000000b0;
    background-position: right;
    width: 33.33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*上下排列*/
    align-items: center;
    /*左右置中*/
    justify-content: center;
    /*上下置中*/
    float: right;
    /*置右*/
    
}

.btn,
.btn:focus {
    position: relative;
    /*相對*/
    min-width: 200px;
    background: transparent;
    color: #8952c7;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: inherit;
    padding: 10px 20px;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(118, 72, 204, 0.5);
    outline: 1px solid !important;
    outline-color: rgba(118, 72, 204, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 10px;
}
.btn:hover {
    color: #8952c7;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(118, 72, 204, 0.5), 0 0 20px rgba(109, 30, 155, 0.2);
    outline: 1px solid !important;
    outline-color: rgba(68, 27, 143, 0) !important;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #9a64c7;
}

.cut {
    height: 40px;
}

.icon_01 {
    list-style: square;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.block02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 30px;
}

.icon_01 div {
    margin: 0 10px;
}

.icon_01 img {
    width: 100%;
    
}

.icon_02 {
    margin: 5px 30px;
    position: relative;
    right: 6vw;
}

.food 
/*我在這裡*/

.menu_btn {
    display: none;
}

.block_say {
    background-color: transparent;
    width: 33.33%;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;


}

.speech-bubble {
	position: relative;
	background: #25255270;
	border-radius: .4em;
    padding: 10px;
    top: 8vh;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #25255270;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -30px;
}
hgroup h3 {
    text-align: center;
}

/*響應式設計語法*/

 @media screen and (max-width: 768px) {
    .block01 {
        display: none;
    }
    header {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 20px 0 ;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 3px;
        font-size: 28px;
    }
    .menu_btn {
        display: block;
        background-color: transparent;
        font-size: 35px;
        position: absolute;
        top: 38px;
        right: 40px;
        border: none;
    }
    .icon_01 {
        display: none;
    }
    .btn {
        display: none;
    }


  }
  